<div class="container">
  <form class="form-login" action="/login-process" method="post">
    <% if (loginError) { %>
      <div class="alert alert-danger" role="alert">
        Your credentials have either expired or are incorrect please try again!
      </div>
    <% } %>
    <div class="form-group">
      <label>Email address</label>
      <input
        type="email"
        class="form-control"
        placeholder="Enter email"
        name="email"
        required
      />
      <small id="emailHelp" class="form-text text-muted"
        >We'll never share your email with anyone else.</small
      >
    </div>
    <div class="form-group">
      <label>Password</label>
      <input
        type="password"
        class="form-control"
        placeholder="Password"
        name="password"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary w-100 mt-3">Submit</button>
  </form>
</div>
